ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.bg-yellow {
    background-color: #eac926;
}

.bg-light-grey {
    background-color: #ebebeb;
}

.bg-dark-grey {
    background-color: #666;
  }

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #1259c3;
}

.color-green {
    color:#39b54a;
}

.font-m {
    font-size: 12px;
}
  .font-lg {
    font-size: 16px;
}
.font-xl {
    font-size: 18px;
}
  .title {
    font-size: 24px;
}
  
.nav-link {
    text-decoration: none;
    color: inherit;
}

.precio {
    font-size: 18px;
    padding: 15px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    padding: 15px;

}

.desc {
    padding: 15px;
}


p {
    font-size: 12px;
}

.w-50{
    width: 50%;
}

.vw-90 {
    width: 90vw;
}

.w-100 {
    width: 100%;
}

.p-1{
    padding: 8px;
}

.p-2 {
    padding: 20px;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.my-1 {
    margin-left: auto;
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-1 {
    margin-right: 8px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.gap {
    gap: 10px;
}

.align-center {
    align-self: center;
}

.outline-none {
    outline: none;
}

.hide {
    display: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.bt-1 {
    border-top-style: solid;
    border-top-width: 1px;
}

.b-none {
    border: none;
}

.border-grey {
    border-color: #ebebeb;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
}

.round {
    border-radius: 50%;
}

.radius-1{
    border-radius: 5px;
}

.space {
   margin-bottom: 10px; 
}

.caja {
    border-top: 1px solid #ebebeb;
}

.compra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    background-color: #03264C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px 0;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
}

.gift-item {
    color: #03264C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-shield-item {
    color: #03264C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-card-item {
    color: #03264C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.truck-item {
    color: #39b54a;
    padding: 15px;
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    right: 15px;
    top: -15px;
}

.copyright {
    display:flex;
    justify-content: flex-start;
    text-align: left;
}

.foot {
    font-weight: bold;
}

.footer {
    text-align: center;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container {  
    margin-bottom: 45px;
    text-align: center; 
    margin-left: 0%;
}

.container h1 {
    font-size: 40px;
    text-align: center;
}

.box {
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}

@media (min-width: 481px) {
    /*tablet*/
    .md-product-shadow {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .md-w-50 {
      width: 48%;
    }
  }
  
  @media (min-width: 769px) {
    /* laptop */
    .lg-w-25 {
      width: 23%;
    }
  
    .product-shadow {
      box-shadow: none;
    }
  
    .description {
      display: none;
    }
  
    .product:hover .description {
      display: block;
    }
  }
  
  @media (min-width: 1281px) {
    /* desktop */
  }