<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href='./css/styles.css'>

</head>

<body>
    <header class="bg-yellow">
        <h1>
            <p>Acá va la barra de búsqueda</p>
            <img src='/images/logo-mercado-liebre.svg' alt="logo-mercado-libre">
        </h1>  
        <div>
            <h2>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </h2>
        </div>
    
        <nav>
            <ul>
                <li><a href="#">Oferta</a>
                <li><a href="#">Tiendas oficiales</a>
                <li><a href="#">Vender</a>
                <li><a href="#">Ayudas</a>
            </ul>
        </nav>
         
        <nav>
            <ul>
                <li><a href="#">Creá tu cuenta</a>
                <li><a href="#">Ingresá</a>
                <li><a href="#">Mis compras</a>
            </ul>
        </nav>
             
    </header>
    <main class="vw-90 mx-auto">
        <section>
            <h2 class="titulares">
                Basado en tu última visita
            </h2>
            <article class="mb-10 bg-white md-product-shadow">
                <img src='/images/img-cafetera-moulinex.jpg' alt='img-cafetera-moulinex.jpg'>
                <div class="bt-1 border-grey">
                    <p class="precio">$6.770</p>
                    <p class="precio">40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-macbook-pro-2019.jpg' alt='img-macbook-pro-2019.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$230.000</p>
                <p class="precio">20% off</p>
                <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-samsung-galaxy-s10.jpg' alt='img-samsung-galaxy-s10.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$70.500</p>
                <p class="precio">10% off</p>
                <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-tv-samsung-smart.jpg' alt='img-tv-samsung-smart.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$23.200</p>
                <p class="precio">5% off</p>
                <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
            <h2 class="titulares">
                Ofertas
            </h2>
            <article>
                <img src='/images/img-cafetera-moulinex.jpg' alt='img-cafetera-moulinex.jpg'>
                <div class="bt-1 border-grey bg-white">
                    <p class="precio">$6.770</p>
                    <p class="precio">40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-macbook-pro-2019.jpg' alt='img-macbook-pro-2019.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$230.000</p>
                <p class="precio">20% off</p>
                <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-samsung-galaxy-s10.jpg' alt='img-samsung-galaxy-s10.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$70.500</p>
                <p class="precio">10% off</p>
                <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src='/images/img-tv-samsung-smart.jpg' alt='img-tv-samsung-smart.jpg'>
                <div class="bt-1 border-grey bg-white">
                <p class="precio">$23.200</p>
                <p class="precio">5% off</p>
                <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>

</body>
</html>