<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre - Registro</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header class="bg-yellow p-1 flex flex-wrap">
        <h1 class="w-50">
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <div class="p-2 w-50 align-center">
            <form action="/" class="p-1 flex radius-1 bg-white">
                <input class="flex-grow b-none outline-none font-xl" type="text" name="search"
                    placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit" class="bg-white b-none"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <p class="text-center w-100 my-1">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>
        <nav class="hide">
            <ul class="py-1">
                <li><a class="nav-link" href="#">Ofertas</a></li>
                <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul class="py-1">
                <li>
                    <a class="nav-link" href="/register" target="_blank">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="/login" target="_blank">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="text-center w-100">
            <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
        </div>
    </header>
    <main>
    <div class="container">
        <form action="resultado.html" method="POST">
            <h1>Registro</h1>
            <label for="user">Nombre y Apellido</label>
            <input type="text" name="user" id="user" required>
        <label for="mail">Correo electrónico</label>
        <input type="email" name="mail" id="mail" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <label for="password2">Confirmar contraseña</label>
        <input type="password" name="password2" id="password2" required>
        <label><input type="radio-button"></label>
        <button type="submit" value="Enviar">Register</button>
        </form>
    </div>
    </main>
    <footer class="footer">
        <div>
        <h4 class="foot"> <i class="fa-solid fa-credit-card credit-card-item"></i>
            Paga con tarjeta o en efectivo
        </h4>
        <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo con puntos de pago. ¡Y siempre es seguro!
        </p>
        </div>
        <div>
            <h4 class="foot"> <i class="fa-solid fa-gift gift-item"></i>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <h4 class="foot"> <i class="fa-solid fa-user-shield user-shield-item"></i>
                Seguridad, de principio a fin 
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siendo protegid@.
            </p>
        </div>
        <div>
            <p class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
</body>

</html>